{% extends 'base/base.html' %} {% block head %}
{% load static %}
{% endblock head %} {% block body %}

<div class="container mt-3 mt-md-5 select-section-jobs">
  
  <h2 class="mb-2 main-heading mt-5">Join Our Community</h2>
  <p class="text-muted text-center">Please select the option that best describes how you'll use our job board.</p>
  <div class="mt-4 d-flex gap-4 flex-md-row flex-column align-items-center justify-content-center">
    <div class="card bg-dark text-white border-0 shadow-lg">
        <img src="{% static 'img/candidate.webp' %}" class="card-img" alt="...">
        <div class="card-img-overlay d-flex justify-content-center flex-column align-items-center">
            <h5 class="card-title m-0">I am a candidate</h5>
            <span>Find your next career opportunity</span>
            <a class="btn-success mt-3" href="{% url 'candidate' %}">CONTINUE AS CANDIDATE</a>
        </div>

    </div>
   
    <div class="card bg-dark text-white border-0 shadow-md">
        <img src="{% static 'img/employer.webp' %}" class="card-img" alt="...">
        <div class="card-img-overlay d-flex justify-content-center flex-column align-items-center">
            <h5 class="card-title m-0">I am an employer</h5>
            <span>Post Job and find top talent</span>
            <a href="{% url 'manage_jobs' %}" class="btn-primary mt-3">CONTINUE UP AS EMPLOYER</a>
        </div>
    </div>
   


  </div>
</div>

{% endblock body %}
