{% load static %}

<div class="d-none d-md-block">
    <div class="card mb-3" style="width: 16rem; background: #f5f0df;"  >
        <div class="">
        <div class=" p-2">
            <p class="card-text"><small style="color: #ab0302;"><i class="bi bi-geo-alt-fill"></i> 
                {% if usr.contact_info.state %}
                    {{ usr.contact_info.state|default:'' }}, 
                {% endif %}    
                {{ usr.contact_info.country}}
            </small></p>
            <div class="d-flex justify-content-center p-2 text-truncate">
                {% if usr.member.profile_picture  %}
                    <img src="{{ usr.member.profile_picture.url }}" style="height: 150px; width: 150px; padding: 3px; background: white" class="img-fluid rounded-circle" alt="...">
                {% else %} 
                    <img src="{% static 'img/default_profile.jpg' %}" style="height: 150px; width: 150px; padding: 3px; background: white" class="img-fluid rounded-circle" alt="...">   
                {% endif %}
            </div>
                
        </div>
        <div class="">
            <div class="card-body pt-0">
            <h5 class="card-title text-capitalize f-Rg text-center text-truncate">{{usr.name}}</h5>
            <p class="card-text text-center text-truncate">
                {% if usr.professional_info.occupation_detail %}
                    {{ usr.professional_info.occupation_detail }}
                {% endif %}  &nbsp;
            </p>
            
            <div class="card-text"><br>
                <a href="/@{{usr.username}}" class="btn w-100 btn-sm">View</a>
            </div>
                
            </div>
        </div>
        </div>
    </div>
</div>
<div class="d-block d-md-none">
    <div>
        <div class="card mb-3" style="background: #f5f0df;"  >
            <div class="row w-100">
                <div class="col-auto d-flex align-items-center">
                    <div class="d-flex justify-content-center p-2 text-truncate">
                        {% if usr.member.profile_picture %}
                            <img src="{{ usr.member.profile_picture.url }}" style="height: 90px; width: 90px; padding: 3px; background: white" class="img-fluid rounded-circle" alt="...">
                        {% else %} 
                            <img src="{% static 'img/default_profile.jpg' %}" style="height: 90px; width: 90px; padding: 3px; background: white" class="img-fluid rounded-circle" alt="...">   
                        {% endif %}
                    </div>

                </div>
                <div class="col">
                    <div class="card-body ps-0">
                        <h5 class="card-title text-capitalize f-Rg ">{{usr.name}}</h5>
                        <p class="card-text ">
                            {% if usr.professional_info.occupation_detail %}
                                {{ usr.professional_info.occupation_detail }}
                            {% endif %}
                        </p>
                        <p class="card-text"><small class="text-muted"><i class="bi bi-geo-alt-fill"></i> 
                            {% if usr.contact_info.city %}
                                {{ usr.contact_info.city|default:'' }}, 
                            {% endif %}    
                            {{ usr.contact_info.country}}
                        </small></p>
                        
                        <div class="card-text text-end">
                            <a href="/@{{usr.username}}" class=" w-100">View</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>