#autocomplete-js{
    width:100%;
}

#autocomplete-js input{ width: 100%;
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}


#autocomplete-js #suggestions{
    padding: 0 60px 0 20px;
    max-height: 200px;
    overflow-y: scroll;
    display: none;
  }
#autocomplete-js #suggestions .no-result-item, .suggestion-item{
    padding: 10px ;
    color: rgb(45, 43, 43);
    cursor: pointer;
    z-index: 2;
}

.suggestion-item:hover{
    background: #8080800a;
    border-radius: 5px;
}

#autocomplete-js #suggestions{
    padding: 10px 5px;
}
