@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');

// custom font
@font-face {
    font-family: Impact;
    src: url(font/impacted.ttf);
  }

// @font-face {
//   font-family: AudibleSans;
//   src: url('/static/font/AudibleSans-Rg.ttf');
// }

@font-face {
  font-family: 'Audible Sans Sm';
  src: url('/static/font/AudibleSans-Sm.eot');
  src: local('Audible Sans Sm'), local('AudibleSans-Sm'),
      url('/static/font/AudibleSans-Sm.eot?#iefix') format('embedded-opentype'),
      url('/static/font/AudibleSans-Sm.woff2') format('woff2'),
      url('/static/font/AudibleSans-Sm.woff') format('woff'),
      url('/static/font/AudibleSans-Sm.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Audible Sans Md';
  src: url('/static/font/AudibleSans-Md.eot');
  src: local('Audible Sans Md'), local('AudibleSans-Md'),
      url('/static/font/AudibleSans-Md.eot?#iefix') format('embedded-opentype'),
      url('/static/font/AudibleSans-Md.woff2') format('woff2'),
      url('/static/font/AudibleSans-Md.woff') format('woff'),
      url('/static/font/AudibleSans-Md.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Audible Sans';
  src: url('/static/font/AudibleSans-BoldItalic.eot');
  src: local('Audible Sans Bold Italic'), local('AudibleSans-BoldItalic'),
      url('/static/font/AudibleSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('/static/font/AudibleSans-BoldItalic.woff2') format('woff2'),
      url('/static/font/AudibleSans-BoldItalic.woff') format('woff'),
      url('/static/font/AudibleSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Audible Sans Lt';
  src: url('/static/font/AudibleSans-Lt.eot');
  src: local('Audible Sans Lt'), local('AudibleSans-Lt'),
      url('/static/font/AudibleSans-Lt.eot?#iefix') format('embedded-opentype'),
      url('/static/font/AudibleSans-Lt.woff2') format('woff2'),
      url('/static/font/AudibleSans-Lt.woff') format('woff'),
      url('/static/font/AudibleSans-Lt.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Audible Sans';
  src: url('/static/font/AudibleSans-SemiboldItalic.eot');
  src: local('Audible Sans Semibold Italic'), local('AudibleSans-SemiboldItalic'),
      url('/static/font/AudibleSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
      url('/static/font/AudibleSans-SemiboldItalic.woff2') format('woff2'),
      url('/static/font/AudibleSans-SemiboldItalic.woff') format('woff'),
      url('/static/font/AudibleSans-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Audible Sans Bd';
  src: url('/static/font/AudibleSans-Bd.eot');
  src: local('Audible Sans Bd'), local('AudibleSans-Bd'),
      url('/static/font/AudibleSans-Bd.eot?#iefix') format('embedded-opentype'),
      url('/static/font/AudibleSans-Bd.woff2') format('woff2'),
      url('/static/font/AudibleSans-Bd.woff') format('woff'),
      url('/static/font/AudibleSans-Bd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Audible Sans Rg';
  src: url('/static/font/AudibleSans-Rg.eot');
  src: local('Audible Sans Rg'), local('AudibleSans-Rg'),
      url('/static/font/AudibleSans-Rg.eot?#iefix') format('embedded-opentype'),
      url('/static/font/AudibleSans-Rg.woff2') format('woff2'),
      url('/static/font/AudibleSans-Rg.woff') format('woff'),
      url('/static/font/AudibleSans-Rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Audible Sans';
  src: url('/static/font/AudibleSans-Italic.eot');
  src: local('Audible Sans Italic'), local('AudibleSans-Italic'),
      url('/static/font/AudibleSans-Italic.eot?#iefix') format('embedded-opentype'),
      url('/static/font/AudibleSans-Italic.woff2') format('woff2'),
      url('/static/font/AudibleSans-Italic.woff') format('woff'),
      url('/static/font/AudibleSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Audible Sans';
  src: url('/static/font/AudibleSans-LightItalic.eot');
  src: local('Audible Sans Light Italic'), local('AudibleSans-LightItalic'),
      url('/static/font/AudibleSans-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('/static/font/AudibleSans-LightItalic.woff2') format('woff2'),
      url('/static/font/AudibleSans-LightItalic.woff') format('woff'),
      url('/static/font/AudibleSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}



  
// fonts
// $fontHead: Trebuchet;
// $fontPara: "Poppins", sans-serif;
// $heroFont: "Impact", sans-serif;
// $cursiveFont: "Great Vibes", cursive;
// $importantContent:"Kumbh Sans";

$fontHead: 'Audible Sans Bd',"montserrat-medium", sans-serif;
$fontPara: "Audible Sans Lt";
$heroFont: "Impact", sans-serif;
$cursiveFont: "Great Vibes", cursive;
$importantContent:"Kumbh Sans";

// colors
$primaryColor:#791815;
$bgprimary:#f5f0df;
// $bgprimary:#fcf3eb;
$bgsecondary: #fefaf0;
$black:#000;
$white: #fff;
$hYellow:#f1a502;
$hOrange:#de7a02;


// custom scrollbar

/* width */
::-webkit-scrollbar {
  width: 0.3rem !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 10px; /* Rounded corners */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar handle */
  border-radius: 10px; /* Rounded corners for the thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when hovering over the scrollbar handle */
}


// mixins
@mixin borderR($radius) {
    border-radius: $radius;
  }
  html{
    overflow-x: hidden;
   
  }
  body{
    background: #fff;
  }

@mixin formControle{
  height:45px;
  color: #000000;
  // padding: 12px 25px;
  background-color: rgb(245 240 223 / 92%) !important;    

  &:focus{
    box-shadow: none;
    border-color:$primaryColor;
    background-color: #f5f0df !important;
  }
  &:active{
    background-color: #f5f0df !important;
  }
  
}
@mixin heading{
  font-size: 50px;
  padding:20px 0 30px;
  text-align: center;
  font-family: $fontHead;
  @media only screen and (max-width: 991px){
      padding: 20px 0 20px;
  }
  @media only screen and (max-width: 767px){
      font-size: 35px;
  }
}

@mixin btn{
  border: 1px solid #ab0302;
  font-family: $fontPara;
  background-color: #ab0302;
  filter: drop-shadow(0px 0px 2px white);
  color:$white !important;
  &:hover {
    background-color: darken(#ab0302, 5%) !important; // Slightly lightens the background
    color: $primaryColor;
    transform: scale(1.01); // Slight zoom effect
    cursor: pointer;
  }
  &:focus{
    outline: none !important;
  }
  
} 
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateX(-50px); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes fadeSlideUp {
  from { transform: translateY(20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
@keyframes fill {
  0% {
    background: transparent;
    width: 0%;
  }
  100% {
    background: #f6bd6f;
    width: 100%;
  }
}
