// @media (max-width: 1500px){
//     .container,header{
//         width:1440px;
//     }
// }

// @media (max-width: 1440px){
//     .container,header{
//         width:1220px;
//     }
// }
// @media (max-width: 1300px){
//     .container,header{
//         width:1180px;
//     }
// }
// @media (max-width: 1280px){
//     .container, header{
//         width:1140px;
//     }
// }