{% load static %}

<div class="new-about px-4 px-md-0">
    <div class="section container d-flex justify-content-center">
        <div class="row" style="max-width: 960px;">
            <div class="col-12 col-md-6 p-0 image-container">
                <!-- <img src="{% static 'img/babaji-about-bg.jpg' %}" height="400" style="object-fit: cover; object-position: top; width: 100%;" alt="Haidakhanda Image"> -->
            </div>
            <div class="col-12 col-md-6 content-container p-3 p-md-5">
                <h1>What is Haidakhandi.org?</h1>
                <p>Haidakhandi.org is a dedicated online platform for the Haidakhandi community. It serves as a directory where members of the community can register themselves, making it easier for others to connect with them. By using a simple search bar, Haidakhandis can find and reach out to fellow members. Whether you're looking to reconnect with old friends, meet new people, or simply stay connected with the broader Haidakhandi community, Haidakhandi.org makes it easy and accessible for everyone. Join today and be a part of the growing Haidakhandi network!</p>
            </div>
        </div>
    </div>
</div>