{% load static %}
<!-- top search  section here -->
<div class="top-search">
    <div class="" style="min-height: 470px; width: 100%; ">
        <div class="search-bar">
            <div class="title main-heading text-white">Top Searched</div>
            <input type="Search" class="form-control my-3 text-center " style="width: 90vw;" placeholder="search">
        </div>
        <div class="tags" style="overflow-x: hidden;">
            <div class="tag">Accountant</div>
            <div class="tag">Administrative</div>
            <div class="tag">Administrator</div>
            <div class="tag">Art Director</div>
            <div class="tag">Astrologer</div>
            <div class="tag">Barman</div>
            <div class="tag">Busineess & Wellness Specialist</div>
            <div class="tag">Businesswoman</div>
            <div class="tag">Carpenter</div>
            <div class="tag">Chef and Business Administrator</div>
            <div class="tag">Chemical Laboratory Technician</div>
            <div class="tag">Clinical Psychologist with Ph.D. in Indovedic Psychology</div>
            <div class="tag">Communicator/ Motherhood Coach</div>
            <div class="tag">Consultant and Project Manager</div>
            <div class="tag">Consultor</div>
            <div class="tag">Cook</div>
            <div class="tag">Cosmetologist</div>
            <div class="tag">Designer / Plastic Artist</div>
            <div class="tag">Diving Instructor</div>
            <div class="tag">Educator</div>
            <div class="tag">Electrical Engineer</div>
            <div class="tag">Employee</div>
            <div class="tag">Engineer</div>
            <div class="tag">Engineer/MBA</div>
            <div class="tag">Entrepreneur: Digital Well-being Courses</div>
            <div class="tag">Food Engineer</div>
            <div class="tag">Goldsmith</div>
            <div class="tag">Graphic Designer</div>
            <div class="tag">Hatha Yoga Instructor</div>
            <div class="tag">Healthcare Professional</div>
            <div class="tag">Holistic Operator</div>
            <div class="tag">Holistic Operator /Yoga Teacher</div>
            <div class="tag">Holistic Therapist</div>
            <div class="tag">Human Resources</div>
            <div class="tag">Industrial Engineer</div>
            <div class="tag">Industrial Engineer with MBA</div>
            <div class="tag">Instructor</div>
            <div class="tag">Insurance Agent</div>
            <div class="tag">Interior Designer</div>
            <div class="tag">International Bussines/Logistic Supervisor</div>
            <div class="tag">Journalist</div>
            <div class="tag">Lawyer</div>
            <div class="tag">Lawyer and Notary Public</div>
            <div class="tag">Lawyer and Translator</div>
            <div class="tag">Life Coach and Artist</div>
            <div class="tag">Marketing</div>
           
            <div class="tag">Master in Business Administration</div>
            <div class="tag">Materials Engineer</div>
            <div class="tag">Mechanical Production Engineer</div>
            <div class="tag">Music Teacher</div>
            <div class="tag">Nutritionist</div>
            <div class="tag">Pharmacist</div>
            <div class="tag">Piano Teacher</div>
            <div class="tag">Pilates & Mindfulness Instructor</div>
            <div class="tag">Product Designer</div>
            <div class="tag">Project Manager</div>
            <div class="tag">Psychologist</div>
            <div class="tag">Psychology</div>
            <div class="tag">Public Accountant</div>
            <div class="tag">Publicist</div>
            <div class="tag">Radio and TV Presenter</div>
            <div class="tag">Real State Investments</div>
            <div class="tag">Remodeling and Interior Design</div>
            <div class="tag">Retired</div>
            <div class="tag">Sales</div>
            <div class="tag">Sales & Nature Tour Services</div>
            <div class="tag">Scrum Product Owner</div>
            <div class="tag">Seamstress and Housewife</div>
            <div class="tag">Senior Technician in Customs</div>
            <div class="tag">Sexology Educator</div>
            <div class="tag">Statistician</div>
            <div class="tag">System Engineer</div>
            <div class="tag">Teacher</div>
            <div class="tag">Terapist</div>
            <div class="tag">Therapist in Biological Decoding and Therapeutic Hatha Yoga</div>
            <div class="tag">Tour Guide</div>
            <div class="tag">Trademarketing</div>
            <div class="tag">Yoga Instructor</div>
            <div class="tag">Yoga Instructor and Journalist</div>
            <div class="tag">Aroma Therapist</div>
            <div class="tag">Reiki Master</div>
            
            <div class="tag">Zumba</div>
            <div class="tag">Rebirthing Master</div>
            <div class="tag">Life Coach</div>
            <div class="tag">Gym Instructor</div>
            <div class="tag">Pandit</div>
            <div class="tag">Dietitian</div>
            <div class="tag">Spiritual Leader</div>
            <div class="tag">Priest</div>
            <div class="tag">Nun</div>
            <div class="tag">Marketing Management in Pharmaceutical and Telecommunications Companies</div>
            <div class="tag">Docotor</div>
            <!--New-->
            <div class="tag">Actor</div>
            <div class="tag">Agriculturist</div>
            <div class="tag">Air Traffic Controller</div>
            <div class="tag">Anesthesiologist</div>
            <div class="tag">Animation Artist</div>
            <div class="tag">Anthropologist</div>
            <div class="tag">Archaeologist</div>
            <div class="tag">Architect</div>
            <div class="tag">Artist</div>
            <div class="tag">Astronomer</div>
            <div class="tag">Automotive Engineer</div>
            <div class="tag">Baker</div>
            <div class="tag">Banker</div>
            <div class="tag">Biochemist</div>
            <div class="tag">Biologist</div>
            <div class="tag">Biomedical Engineer</div>
            <div class="tag">Blacksmith</div>
            <div class="tag">Blogger</div>
            <div class="tag">Botanist</div>
            <div class="tag">Brewer</div>
            <div class="tag">Cabin Crew</div>
            <div class="tag">Camera Operator</div>
            <div class="tag">Captain</div>
            <div class="tag">Career Counselor</div>
            <div class="tag">Charity Worker</div>
            <div class="tag">Chemist</div>
            <div class="tag">Chiropractor</div>
            <div class="tag">Civil Engineer</div>
            <div class="tag">Clinical Researcher</div>
            <div class="tag">Comedian</div>
            <div class="tag">Computer Engineer</div>
            <div class="tag">Construction Manager</div>
            <div class="tag">Copywriter</div>
            <div class="tag">Criminologist</div>
            <div class="tag">Customs Officer</div>
            <div class="tag">Data Analyst</div>
            <div class="tag">Data Scientist</div>
            <div class="tag">Dentist</div>
            <div class="tag">Dietitian</div>
            <div class="tag">Director</div>
            <div class="tag">Driver</div>
            <div class="tag">Economist</div>
            <div class="tag">Editor</div>
            <div class="tag">Electrician</div>
            <div class="tag">Embroiderer</div>
            <div class="tag">Event Planner</div>
            <div class="tag">Exhibition Designer</div>
            <div class="tag">Fashion Designer</div>
            <div class="tag">Film Director</div>
            <div class="tag">Film Editor</div>
            <div class="tag">Financial Analyst</div>
            <div class="tag">Fisherman</div>
            <div class="tag">Flight Attendant</div>
            <div class="tag">Florist</div>
            <div class="tag">Forensic Scientist</div>
            <div class="tag">Game Developer</div>
            <div class="tag">Geologist</div>
            <div class="tag">Government Officer</div>
            <div class="tag">Guide</div>
            <div class="tag">Hairdresser</div>
            <div class="tag">Health Inspector</div>
            <div class="tag">Historian</div>
            <div class="tag">Home Decorator</div>
            <div class="tag">Horticulturist</div>
            <div class="tag">Hotel Manager</div>
            <div class="tag">HR Specialist</div>
            <div class="tag">Illustrator</div>
            <div class="tag">Interpreter</div>
            <div class="tag">Investment Banker</div>
            <div class="tag">IT Consultant</div>
            <div class="tag">Jeweler</div>
            <div class="tag">Judge</div>
            <div class="tag">Lab Technician</div>
            <div class="tag">Landscape Architect</div>
            <div class="tag">Librarian</div>
            <div class="tag">Linguist</div>
            <div class="tag">Logistics Manager</div>
            <div class="tag">Makeup Artist</div>
            <div class="tag">Market Researcher</div>
            <div class="tag">Massage Therapist</div>
            <div class="tag">Mechanic</div>
            <div class="tag">Medical Assistant</div>
            <div class="tag">Medical Laboratory Technician</div>
            <div class="tag">Meteorologist</div>
            <div class="tag">Microbiologist</div>
            <div class="tag">Military Officer</div>
            <div class="tag">Miner</div>
            <div class="tag">Modelist</div>
            <div class="tag">Mortician</div>
            <div class="tag">Navigator</div>
            <div class="tag">Nurse</div>
            <div class="tag">Nutrition Consultant</div>
            <div class="tag">Occupational Therapist</div>
            <div class="tag">Optometrist</div>
            <div class="tag">Painter</div>
            <div class="tag">Paramedic</div>
            <div class="tag">Photographer</div>
            <div class="tag">Physician</div>
            <div class="tag">Physicist</div>
            <div class="tag">Physiotherapist</div>
            <div class="tag">Plumber</div>
            <div class="tag">Police Officer</div>
            <div class="tag">Politician</div>
            <div class="tag">Private Detective</div>
            <div class="tag">Producer</div>
            <div class="tag">Programmer</div>
            <div class="tag">Public Speaker</div>
            <div class="tag">Real Estate Agent</div>
            <div class="tag">Researcher</div>
            <div class="tag">Scientist</div>
            <div class="tag">Scriptwriter</div>
            <div class="tag">Sculptor</div>
            <div class="tag">Security Guard</div>
            <div class="tag">Singer</div>
            <div class="tag">Social Worker</div>
            <div class="tag">Software Engineer</div>
            <div class="tag">Statistician</div>
            <div class="tag">Surgeon</div>
            <div class="tag">Tailor</div>
            <div class="tag">Television Host</div>
            <div class="tag">Therapist</div>
            <div class="tag">Tour Operator</div>
            <div class="tag">Translator</div>
            <div class="tag">Travel Agent</div>
            <div class="tag">Veterinarian</div>
            <div class="tag">Web Designer</div>
            <div class="tag">Web Developer</div>
            <div class="tag">Writer</div>
            <div class="tag">Zoologist</div>

        </div>
    </div>
  
    
</div>

<!-- top search section end -->