{% load widget_tweaks %}

<form
    method="post"
    action="{% url 'update_profile' %}"
    enctype="multipart/form-data"
>
    {% csrf_token %}

    <!-- identify profile update form -->
    <input type="hidden" name="form_type" value="profile_update">

    <div class="row">
        <div class="col-md-6">
            <label>{{ user_form.first_name.label }}</label>
            {{ user_form.first_name|add_class:"form-control" }}
        </div>
        <div class="col-md-6">
            <label>{{ user_form.last_name.label }}</label>
            {{ user_form.last_name|add_class:"form-control" }}
        </div>
    </div>

    <div class="mt-2">
        <label>{{ user_form.username.label }}</label>
        {{ user_form.username|add_class:"form-control" }}
    </div>

    <div class="mt-2">
        <label>{{ user_form.email.label }}</label>
        {{ user_form.email|add_class:"form-control" }}
    </div>

    <div class="mt-2">
        <label>{{ c_info.phone.label }}</label>
        {{ c_info.phone|add_class:"form-control" }}
    </div>

    <div class="row mt-2">
        <div class="col-md-6">
            <label>{{ c_info.dob.label }}</label>
            {{ c_info.dob|add_class:"form-control"|attr:"type:date" }}
        </div>
        <div class="col-md-6">
            <label>{{ c_info.gender.label }}</label>
            {{ c_info.gender|add_class:"form-control" }}
        </div>
    </div>

    <div class="mt-2">
        <label>{{ c_info.address.label }}</label>
        {{ c_info.address|add_class:"form-control" }}
    </div>

    <div class="row mt-2">
        <div class="col-md-6">
            <label>{{ c_info.country.label }}</label>
            {{ c_info.country|add_class:"form-control" }}
        </div>
        <div class="col-md-6">
            <label>{{ c_info.state.label }}</label>
            {{ c_info.state|add_class:"form-control" }}
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-6">
            <label>{{ c_info.city.label }}</label>
            {{ c_info.city|add_class:"form-control" }}
        </div>
        <div class="col-md-6">
            <label>{{ c_info.postal_code.label }}</label>
            {{ c_info.postal_code|add_class:"form-control" }}
        </div>
    </div>

    {{ c_info.latitude }}
    {{ c_info.longitude }}

    <div class="mt-4">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
