{% extends 'base/base.html' %}

{% block head %}
<style>
    .stay-card{
        border: none !important;
    }
</style>
{% endblock head %}

{% block body %}

<div class="stay-haidakhandi">
  <div class=" container stay">
    <h2 class="text-center main-heading smt-5 mt-md-3">Stay with haidakhandi</h2>
    <!-- <section class="search-sec">
      <div class="container">
          <form action="#" method="post" novalidate="novalidate">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="row">
                          <div class=" col-3 p-0">
                              <input type="text" class="form-control search-slt" placeholder="Search Destination">
                          </div>
                          <div class="col-3 col-md-3 col-sm-12 p-0">
                              <input type="text" class="form-control search-slt" placeholder="check in date ">
                          </div>
                          <div class="col-3 col-md-3 col-sm-12 p-0">
                            <input type="text" class="form-control search-slt" placeholder="check out date ">
                        </div>
                          <div class="col-3 col-md-3 col-sm-12 p-0">
                              <button type="button" class="btn  wrn-btn">Search</button>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
      </div>
    </section> -->
    <div class="card-container">
      <div class="row mt-3">
     
        <div class="col-lg-3">
          <img src="/static/stay/kana6.jpg"  width="100%" height="300px" style="border-radius: 10px; object-fit: cover;" class="card-img">
          <div class="d-flex justify-content-between">
            <div class="">
             <h6 class="mt-2">Kanatal Uttarakhand </h6>
              <p>India</p>
            </div>
            <div class=" arrow mt-3">
              <a href="https://www.airbnb.co.uk/rooms/825983764302609383?adults=1&guests=1&s=13&unique_share_id=e57f0f3e-c6dc-48e2-8606-85a6faaf32da&_branch_match_id=1420365754778985654&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXT0zKS9LLTdV38kiN8AozyjGoSLKvK0pNSy0qysxLj08qyi8vTi2ydc4oys9NBQA7ZdigNQAAAA%3D%3D&source_impression_id=p3_1739879965_P3RjAkFNCNlA3-GR" target="_blank"><i class="bi bi-arrow-up-right-circle"></i></a>
            </div>
          </div>
          
        </div>
        <div class="col-lg-3">
            <img src="/static/stay/18.jpg"  width="100%" height="300px" style="border-radius: 10px; object-fit: cover;">
            <div class="d-flex justify-content-between">
              <div class="">
                <h6 class="mt-2">Uttar Pradesh</h6>
                <p>India</p>
              </div>
              <div class=" arrow mt-3">
                <a href="https://www.airbnb.co.in/rooms/622867856375178178?viralityEntryPoint=1&s=76&source_impression_id=p3_1739879879_P30mr28O8XNJtbIM" target="_blank"> <i class="bi bi-arrow-up-right-circle"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <img src="/static/stay/W Goa.webp"  width="100%" height="300px" style="border-radius: 10px; object-fit: cover;">
            <div class="d-flex justify-content-between">
              <div class="">
                <h6 class="mt-2">Goa</h6>
                <p>India</p>
              </div>
              <div class=" arrow mt-3">
                <a href="https://www.airbnb.co.uk/rooms/707041978412608484?viralityEntryPoint=1&unique_share_id=5A277656-1375-4995-9585-3AD0C13688B2&slcid=7d4504bda0314ccea8d0db2dfa67d056&s=76&feature=share&adults=1&channel=native&slug=5X8aCgrJ&source_impression_id=p3_1739880175_P33V27ws4cheIxMy" target="_blank"><i class="bi bi-arrow-up-right-circle"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <img src="/static/stay/iStock_000058485880_XXXLarge.jpg"  width="100%" height="300px" style="border-radius: 10px; object-fit: cover;">

            <div class="d-flex justify-content-between">
              <div class="">
                <h6 class="mt-2">Varanasi</h6>
                <p>India</p>
              </div>
              <div class="arrow mt-3">
                <a href="https://www.airbnb.co.uk/rooms/1240403902139646883?adults=1&check_in=2025-03-03&check_out=2025-03-04&search_mode=regular_search&category_tag=Tag%3A8678&photo_id=2052505785&source_impression_id=p3_1739880233_P3r0BBuarMqDJdvR&previous_page_section_name=1000&federated_search_id=3c2a51db-2f51-4752-86bc-eeeb33a195d5" target="_blank"><i class="bi bi-arrow-up-right-circle"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 mt-3">
            <img src="/static/stay/sukoon.jpg"  width="100%" height="300px" style="border-radius: 10px; object-fit: cover;">
            <div class="d-flex justify-content-between">
              <div class="">
                <h6 class="mt-2">Sukoon Nature Retreat, Bhatrojkhan (Near Ranikhet)</h6>
                <p>India</p>
              </div>
              <div class=" arrow mt-3">
                <a href="https://www.gikijoy.com/gikijoy-getaway/uttarakhand/sukoon" target="_blank"> <i class="bi bi-arrow-up-right-circle"></i></a>
              </div>
            </div>
          </div>
          <!-- second row -->
          <!-- <div class="col-lg-3 mt-3">
            <img src="/static/stay/usa2.jpg"  width="100%" height="300px" style="border-radius: 10px; object-fit: cover;" class="card-img">
            <div class="d-flex justify-content-between">
              <div class="">
                <h6 class="mt-2">Guest House </h6>
                <p>West New York</p>
              </div>
              <div class="arrow mt-3">
                <a href="https://www.airbnb.co.uk/rooms/1240403902139646883?adults=1&check_in=2025-03-03&check_out=2025-03-04&search_mode=regular_search&category_tag=Tag%3A8678&photo_id=2052505785&source_impression_id=p3_1739880233_P3r0BBuarMqDJdvR&previous_page_section_name=1000&federated_search_id=3c2a51db-2f51-4752-86bc-eeeb33a195d5" target="_blank"><i class="bi bi-arrow-up-right-circle"></i></a>
              </div>
            </div>
          </div> -->

          <div class="col-lg-3 mt-3">
              <img src="/static/stay/USA1.jpg"  width="100%" height="300px" style="border-radius: 10px; object-fit: cover;">

              <div class="d-flex justify-content-between">
                <div class="">
                  <h6 class="mt-2">Tiny home in Columbia Falls, Montana</h6>
                  <p>USA</p>
                </div>
                <div class=" arrow mt-3">
                  <a href="https://www.airbnb.co.uk/rooms/914418441711205423?adults=1&guests=1&search_mode=regular_search&category_tag=Tag%3A8102&check_in=2025-03-16&check_out=2025-03-21&children=0&infants=0&pets=0&photo_id=2069197654&source_impression_id=p3_1739880532_P3t-4WM4sBtzBOYe&previous_page_section_name=1000&federated_search_id=e63adc13-8d86-495a-aa1c-0597d5f83bdb" target="_blank"><i class="bi bi-arrow-up-right-circle"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 mt-3">
              <img src="/static/stay/indonesia.jpg"  width="100%" height="300px" style="border-radius: 10px; object-fit: cover;">

              <div class="d-flex justify-content-between">
                <div class="">
                  <h6 class="mt-2">Kecamatan Sukasada</h6> 
                  <p>Indonesia</p>
                </div>
                <div class=" arrow mt-3">
                  <a href="https://www.airbnb.co.uk/rooms/636588340736504875?check_in=2025-03-03&check_out=2025-03-05&category_tag=Tag%3A8525&photo_id=1517927135&source_impression_id=p3_1739878634_P3v6gpDsQPEg7xca&previous_page_section_name=1000&federated_search_id=693aae50-769a-418b-978d-5b61fe5adaae"target="_blank"><i class="bi bi-arrow-up-right-circle"></i></a>
                </div>
              </div>
              
            </div>
            <div class="col-lg-3 mt-3">
              <img src="/static/stay/Indonesia-1.jpg"  width="100%" height="300px" style="border-radius: 10px; object-fit: cover;">
              <div class="row">
                <div class="d-flex justify-content-between">
                  <div class="">
                    <h6 class="mt-2">Kecamatan Nusa Penida</h6>
                    <p>Indonesia</p>
                  </div>
                  <div class="  arrow mt-3">
                    <a href="https://www.airbnb.co.uk/rooms/951897703809113006?check_in=2025-03-03&check_out=2025-03-05&category_tag=Tag%3A7769&photo_id=1713792046&source_impression_id=p3_1739878634_P3GtXbXa-_kqElzt&previous_page_section_name=1000&federated_search_id=693aae50-769a-418b-978d-5b61fe5adaae" target="_blank"> <i class="bi bi-arrow-up-right-circle"></i></a>
                  </div>
                </div>
              </div>
            </div>

            


       
    </div>
    </div>
   
</div>
</div>

<!-- <div class="section container">
    <h1 class="main-heading smt-5 mt-md-3">Stay With Haidakhandi</h1>
    
    <div class="row mt-3">
      <div class="col-lg-3">
        <img src="/static/stay/kana6.jpg"  width="100%" height="300px" style="border-radius: 10px; object-fit: cover;" class="card-img">
        <a href="https://www.airbnb.co.uk/rooms/825983764302609383?adults=1&guests=1&s=13&unique_share_id=e57f0f3e-c6dc-48e2-8606-85a6faaf32da&_branch_match_id=1420365754778985654&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXT0zKS9LLTdV38kiN8AozyjGoSLKvK0pNSy0qysxLj08qyi8vTi2ydc4oys9NBQA7ZdigNQAAAA%3D%3D&source_impression_id=p3_1739879965_P3RjAkFNCNlA3-GR"><h6 class="mt-2">Kanatal Uttarakhand, </h6></a>
        <p>India</p>
        
      </div>
      <div class="col-lg-3">
          <img src="/static/stay/18.jpg"  width="100%" height="300px" style="border-radius: 10px; object-fit: cover;">
          <a href="https://www.airbnb.co.in/rooms/622867856375178178?viralityEntryPoint=1&s=76&source_impression_id=p3_1739879879_P30mr28O8XNJtbIM"><h6 class="mt-2">Uttar Pradesh,</h6></a>
          <p>India</p>
          
        </div>
        <div class="col-lg-3">
          <img src="/static/stay/W Goa.webp"  width="100%" height="300px" style="border-radius: 10px; object-fit: cover;">
          <a href="https://www.airbnb.co.uk/rooms/707041978412608484?viralityEntryPoint=1&unique_share_id=5A277656-1375-4995-9585-3AD0C13688B2&slcid=7d4504bda0314ccea8d0db2dfa67d056&s=76&feature=share&adults=1&channel=native&slug=5X8aCgrJ&source_impression_id=p3_1739880175_P33V27ws4cheIxMy"><h6 class="mt-2">Goa,</h6></a>
          <p>India</p>
        </div>
        <div class="col-lg-3">
          <img src="/static/stay/iStock_000058485880_XXXLarge.jpg"  width="100%" height="300px" style="border-radius: 10px; object-fit: cover;">
         <a href="https://www.airbnb.co.uk/rooms/1240403902139646883?adults=1&check_in=2025-03-03&check_out=2025-03-04&search_mode=regular_search&category_tag=Tag%3A8678&photo_id=2052505785&source_impression_id=p3_1739880233_P3r0BBuarMqDJdvR&previous_page_section_name=1000&federated_search_id=3c2a51db-2f51-4752-86bc-eeeb33a195d5"><h6 class="mt-2">Varanasi,</h6></a> 
          <p>India</p>
          
        </div>
       
        <div class="col-lg-3 mt-3">
          <img src="/static/stay/usa2.jpg"  width="100%" height="300px" style="border-radius: 10px; object-fit: cover;" class="card-img">
          <a href="https://www.airbnb.co.uk/rooms/15789337?search_mode=regular_search&adults=1&category_tag=Tag%3A8102&check_in=2025-04-27&check_out=2025-05-02&children=0&infants=0&pets=0&photo_id=1631311800&source_impression_id=p3_1739878247_P3iPAhWXu0NvWGA0&previous_page_section_name=1000&federated_search_id=238be844-bbb1-4f01-afff-eb3023eb568a"><h6 class="mt-2">guest house, </h6></a>
          <p>West New York</p>
          
        </div>
        <div class="col-lg-3 mt-3">
            <img src="/static/stay/USA1.jpg"  width="100%" height="300px" style="border-radius: 10px; object-fit: cover;">
           <a href="https://www.airbnb.co.uk/rooms/914418441711205423?adults=1&guests=1&search_mode=regular_search&category_tag=Tag%3A8102&check_in=2025-03-16&check_out=2025-03-21&children=0&infants=0&pets=0&photo_id=2069197654&source_impression_id=p3_1739880532_P3t-4WM4sBtzBOYe&previous_page_section_name=1000&federated_search_id=e63adc13-8d86-495a-aa1c-0597d5f83bdb"><h6 class="mt-2">Tiny home in Columbia Falls,</h6></a> 
            <p>USA</p>
          </div>
          <div class="col-lg-3 mt-3">
            <img src="/static/stay/indonesia.jpg"  width="100%" height="300px" style="border-radius: 10px; object-fit: cover;">
           <a href="https://www.airbnb.co.uk/rooms/636588340736504875?check_in=2025-03-03&check_out=2025-03-05&category_tag=Tag%3A8525&photo_id=1517927135&source_impression_id=p3_1739878634_P3v6gpDsQPEg7xca&previous_page_section_name=1000&federated_search_id=693aae50-769a-418b-978d-5b61fe5adaae"><h6 class="mt-2">Private room,</h6></a> 
            <p>Indonesia</p>
            
          </div>
          <div class="col-lg-3 mt-3">
            <img src="/static/stay/Indonesia-1.jpg"  width="100%" height="300px" style="border-radius: 10px; object-fit: cover;">
           <a href="https://www.airbnb.co.uk/rooms/951897703809113006?check_in=2025-03-03&check_out=2025-03-05&category_tag=Tag%3A7769&photo_id=1713792046&source_impression_id=p3_1739878634_P3GtXbXa-_kqElzt&previous_page_section_name=1000&federated_search_id=693aae50-769a-418b-978d-5b61fe5adaae"><h6 class="mt-2">Room,</h6></a> 
            <p>Indonesia</p>
            
          </div>
     
  </div>

</div> -->


{% endblock body %}
    